.bg {
    background-color: #67AAF9
}

/* carousel */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.46);
    /* position: absolute; */
    /* width: 640px; */
    align-content: center;
    /* height: 76px; */
    /* left: 0px; */
    /* top: 100px;  */
}

footer {
    background-color: #67AAF9;
}

.dircc {
    float: right;
}
 
.show {
    display: block;
}

.hide{
    display: none;
}
